<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>

<body>
<div class="wrap">
    <div class="form-wrap">
        <div class="button-wrap">
            <div id="btn"></div>
            <button type="button" class="togglebtn" onclick="businessLoginChange()">사업자</button>
            <button type="button" class="togglebtn" onclick="personLoginChange()">일반인</button>
        </div>
        <div class="social-icons">
            <div>장보러 가자</div>
        </div>
        <form id="businessLoginChange" class="input-group" th:action="@{/login}" th:object="${request}" th:method="post">
            <label>
                <input type="text" class="input-field" placeholder="아이디" th:name="userId">
            </label>
            <label>
                <input type="password" class="input-field" placeholder="비밀번호" th:name="password">
            </label>
            <button class="signup"><a th:href="@{/signup-business}">회원가입</a></button>
            <button type="submit" class="submit">Login</button>
        </form>


        <form id="personLoginChange" class="input-group" th:action="@{/login}" th:object="${request}" th:method="post">
            <label>
                <input type="text" class="input-field" placeholder="아이디" th:name="userId">
            </label>
            <label>
                <input type="password" class="input-field" placeholder="비밀번호" th:name="password">
            </label>
            <button class="signup"><a th:href="@{/signup-client}">회원가입</a></button>
            <button type="submit" class="submit">Login</button>
        </form>
    </div>
</div>
<script>
    var x = document.getElementById("businessLoginChange");
    var y = document.getElementById("personLoginChange");
    var z = document.getElementById("btn");


    function businessLoginChange() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
    }

    function personLoginChange() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
    }
</script>
</body>
</html>
