<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>상품 등록</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #divheader {
        background-color: black;
    }
</style>
<div class="container bootstrap snippet">
    <div id="divheader" class="row">
        <div class="col-sm-10"><h1><font color="white">상품 등록</font></h1></div>
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="product image" src="img/bag.jpg"
                                                                       style="width: 100px; height: 100px;"></a></div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="row">
        <form class="form" th:action="@{/register}" th:object="${request}" th:method="post" enctype="multipart/form-data" id="registrationForm">
            <div class="col-sm-3"><!--left col-->
                <div class="text-center">
                    <div id='View_area' class="avatar img-thumbnail"></div>
                    <h6>상품 사진을 올려주세요.</h6>
                    <input type="file" id="image" th:name="image" onchange="previewImage(this,'View_area')">
                </div>
                <br>

            </div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">정보</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="productName"><h4>상품명</h4></label>
                                <input type="text" class="form-control" th:name="productName" id="productName" placeholder="상품명"
                                       title="상품명을 적어주세요.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="price"><h4>가격</h4></label>
                                <input type="text" class="form-control" th:name="price" id="price" placeholder="원"
                                       title="가격을 적어주세요.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="weight"><h4>무게/단위</h4></label>
                                <input type="text" class="form-control" th:name="weight" id="weight" placeholder="(g)"
                                       title="상품의 무게를 적어주세요.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="appeal"><h4>상품 자랑 한마디</h4></label>
                                <input type="text" class="form-control" th:name="content" id="appeal" placeholder="한마디"
                                       title="상품을 자랑해주세요!">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> 등록
                                </button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> 다시
                                </button>
                            </div>
                        </div>
                    </div><!--/tab-pane-->
                </div><!--/col-9-->
            </div><!--/row-->
        </form>
    </div>
</div>
<script>
    function previewImage(targetObj, View_area) {
        if (targetObj.files && targetObj.files[0].size > (1024 * 1024)) {
            alert("파일 사이즈가 1mb 를 넘습니다.");
            targetObj.value = null;
            return;
        }
        var preview = document.getElementById(View_area); //div id
        var ua = window.navigator.userAgent;

        //ie일때(IE8 이하에서만 작동)
        if (ua.indexOf("MSIE") > -1) {
            targetObj.select();
            try {
                var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                if (ie_preview_error) {
                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                }

                var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src + "', sizingMethod='scale')";
            } catch (e) {
                if (!document.getElementById("ie_preview_error_" + View_area)) {
                    var info = document.createElement("<p>");
                    info.id = "ie_preview_error_" + View_area;
                    info.innerHTML = e.name;
                    preview.insertBefore(info, null);
                }
            }
            //ie가 아닐때(크롬, 사파리, FF)
        } else {
            var files = targetObj.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                if (!file.type.match(imageType))
                    continue;
                var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                if (prevImg) {
                    preview.removeChild(prevImg);
                }
                var img = document.createElement("img");
                img.id = "prev_" + View_area;
                img.classList.add("obj");
                img.file = file;
                img.style.width = '200px';
                img.style.height = '200px';
                preview.appendChild(img);
                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                    var reader = new FileReader();
                    reader.onloadend = (function (aImg) {
                        return function (e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                } else { // safari is not supported FileReader
                    //alert('not supported FileReader');
                    if (!document.getElementById("sfr_preview_error_"
                        + View_area)) {
                        var info = document.createElement("p");
                        info.id = "sfr_preview_error_" + View_area;
                        info.innerHTML = "not supported FileReader";
                        preview.insertBefore(info, null);
                    }
                }
            }
        }
    }
</script>
</html>
